@import "colors.css";
@import "modules/tooltip.css";
@import "modules/workspaces.css";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  min-height: 0;
  font-weight: 500;

  transition:
    background-color 0.25s ease,
    border-color 0.25s ease,
    opacity 0.2s ease;
}

window#waybar {
  background: @black;
  color: @white;
  opacity: 1.0;

  border: 1px solid alpha(@white, 0.35);
  border-radius: 6px;
}

#backlight,
#pulseaudio,
#language,
#cpu,
#memory,
#battery,
#network,
#clock {
  border-right: 1px solid alpha(@white, 0.35);
  padding: 0 8px;
}

#clock {
  border-right: none;
}

#tray,
#language {
  padding: 0 8px;
  border-left: 1px solid alpha(@white, 0.35);
}

#backlight,
#pulseaudio,
#language,
#cpu,
#memory,
#battery,
#network,
#clock,
#tray {
  color: @white;
}

#backlight:hover,
#pulseaudio:hover,
#language:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#network:hover,
#clock:hover,
#tray:hover {
  background-color: alpha(@white, 0.08);
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 10px;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 10px;
}

#tray menu {
  background: @black;
  border: 1px solid alpha(@white, 0.35);
  border-radius: 5px;
  padding: 4px;
}

#tray menu *:hover,
#tray menu *:focus {
  background: alpha(@white, 0.12);
  color: @highlight;
  border-radius: 5px;
}


